#### Dataset 
NYC Electricity consumption from 2012 to 2017.\
Source: Unknown

In [8]:
import pandas as pd

In [3]:
data = pd.read_csv('Datasets/nyc_energy_consumption.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49205 entries, 0 to 49204
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timeStamp  49205 non-null  object
 1   demand     49124 non-null  float64
 2   precip     48975 non-null  float64
 3   temp       49019 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.5+ MB

In [5]:
data.describe()

             demand        precip          temp
count  49124.000000  48975.000000  49019.000000
mean    6067.447361      0.003522     55.520428
std     1285.607657      0.022841     17.704848
min     2859.600000      0.000000      0.330000
25%     5133.862250      0.000000     41.415000
50%     6020.071000      0.000000     56.260000
75%     6684.300000      0.000000     70.540000
max    11456.000000      0.905100     97.260000

In [13]:
data['timeStamp'] = data['timeStamp'].apply(pd.to_datetime)

In [19]:
data.set_index('timeStamp', inplace = True)

In [27]:
data.index.year ==2017

array([False, False, False, ...,  True,  True,  True])